<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author, viewport" content="Peter G. Morales, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pat's Salmon Cookies</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/styles_01.css" />
    <link rel="icon" href="../images/favicon_io/favicon.ico" type="image/png" />
</head>

<body>

    <head>
        <h1>Coming soon to a table near you . . . PAT'S SALMON COOKIES!!!</h1>
        <img src="../images/salmon.png" alt="A picture of a salmon" />
        <nav>
            <ul>
                <li>
                    <h2><a href="../index.html">Home</a></h2>
                </li>

                <li>
                    <h2><a href="locations.html">Locations</a></h2>
                </li>

                <li>
                    <h2><a href="hours.html">Hours</a></h2>
                </li>

                <li>
                    <h2><a href="sales.html">Sales</a></h2>
                </li>

                <li>
                    <form>
                        <input type="search" name="q" placeholder="Search query" />
                        <input type="submit" value="Go!" />
                    </form>
                </li>

            </ul>
        </nav>
    </head>

    <main>

        <h1>"C is for cookie. That's good enough for me!" - (Salmon) Cookie Monster </h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ye8mB6VsUHw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/plqgre49690" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <h2>Locations</h2>
        <h3>Seattle</h3>
        <p>79535 Alden Wells Suite 288</p>
        <p>Seattle, WA 98101</p>
        <p><a href="0001112222">(000) 111-22222</a></p>
        <p><a href="mailto:pat@salmoncookies.com">pat@salmoncookies.com</a></p>
        <h3>Tokyo</h3>
        <p>浜田町山本7-10-6</p>
        <p>津田市</p>
        <p><a href="0001112222">(000) 111-22222</a></p>
        <p><a href="mailto:pat@salmoncookies.com">pat@salmoncookies.com</a></p>
        <h3>Dubai</h3>
        <p>37290 طريق مرشد الصقيه عمارة رقم 25</p>
        <p>سكاكا</p>
        <p><a href="0001112222">(000) 111-22222</a></p>
        <p><a href="mailto:pat@salmoncookies.com">pat@salmoncookies.com</a></p>
        <h3>Paris</h3>
        <p>88, avenue Champs Elysees</p>
        <p>Lagarde</p>
        <p><a href="0001112222">(000) 111-22222</a></p>
        <p><a href="mailto:pat@salmoncookies.com">pat@salmoncookies.com</a></p>
        <h3>Lima</h3>
        <p>Urb. Antonia Zarate # 3 Hab. 743</p>
        <p>Cuzco</p>
        <p><a href="0001112222">(000) 111-22222</a></p>
        <p><a href="mailto:pat@salmoncookies.com">pat@salmoncookies.com</a></p>
    </main>

    <footer>
        <h3>Salmon Cookies!!! WHAT A CATCH!!!</h3>
        <p>© Copyright 2022 by Swim Against the Tide, LLC. All rights reversed.</p>
    </footer>

</body>

</html>