<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author, viewport" content="Peter G. Morales, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pat's Salmon Cookies</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/styles_01.css" />
    <link rel="icon" href="../images/favicon_io/favicon.ico" type="image/png" />
</head>

<body>

    <head>
        <h1>Coming soon to a table near you . . . PAT'S SALMON COOKIES!!!</h1>
        <img src="../images/salmon.png" alt="A picture of a salmon" />
        <nav>
            <ul>
                <li>
                    <h2><a href="../index.html">Home</a></h2>
                </li>

                <li>
                    <h2><a href="../layouts/locations.html">Locations</a></h2>
                </li>

                <li>
                    <h2><a href="../layouts/hours.html">Hours</a></h2>
                </li>

                <li>
                    <h2><a href="../layouts/contact.html">Contact Us</a></h2>
                </li>

                <li>
                    <form>
                        <input type="search" name="q" placeholder="Search query" />
                        <input type="submit" value="Go!" />
                    </form>
                </li>

            </ul>
        </nav>
    </head>

    <main>

        <table id="table_data">

            <thead>

                <tr>
                    <th></th>
                    <th></th>
                    <th>6:00am</th>
                    <th>7:00am</th>
                    <th>8:00am</th>
                    <th>9:00am</th>
                    <th>10:00am</th>
                    <th>11:00am</th>
                    <th>12:00pm</th>
                    <th>1:00pm</th>
                    <th>2:00pm</th>
                    <th>3:00pm</th>
                    <th>4:00pm</th>
                    <th>5:00pm</th>
                    <th>6:00pm</th>
                    <th>7:00pm</th>
                    <th>Daily Store Total</th>
                </tr>

            </thead>

            <tbody id="location_data">

            </tbody>

            <tfoot>
            </tfoot>

        </table>

        <form id="location_form">

            <fieldset>

                <legend>Location Form</legend>

                <label>
                    City:
                    <input type="text" name="location" required placeholder="Enter City Here" />
                </label>

                <label>
                    Minimum Hourly Customers:
                    <input type="number" name="min_hourly_customer" required min="1" step=".1" placeholder="Enter Min. Hourly Customers" />
                </label>

                <label>
                    Maximum Hourly Customers:
                    <input type="number" name="max_hourly_customer" required min="1" step=".1" placeholder="Enter Max. Hourly Customers" />
                </label>

                <label>
                    Average Cookies Per Customer:
                    <input type="number" name="avg_cookie_per_customer" required min="1" step=".1" placeholder="Enter Average Cookies Per Customer" />
                </label>

                <button type="submit">Submit Location</button>

            </fieldset>

        </form>

    </main>

    <footer>
        <p>© Copyright 2022 by Swim Against the Tide, LLC. All rights reversed.</p>
    </footer>

    <script src="../scripts/app_01.js"></script>
</body>

</html>
