<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author, viewport" content="Peter G. Morales, width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pat's Salmon Cookies</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/styles_02.css">
    <link rel="icon" href="../images/favicon_io/favicon.ico" type="image/png">
</head>

<body>

    <head>
        <h1>Sales</h1>
        <h2><a href="../index.html">Home</a></h2>
    </head>

    <main>
        <h2>
            <ul id='seattle'>Seattle</ul>
            <ul id='tokyo'>Tokyo</ul>
            <ul id='dubai'>Dubai</ul>
            <ul id='paris'>Paris</ul>
            <ul id='lima'>Lima</ul>
        </h2>
    </main>

    <footer>
        <p>© Copyright 2022 by Swim Against the Tide, LLC. All rights reversed.</p>
    </footer>

    <script src="../scripts/app_01.js"></script>
</body>

</html>