/* color palette for above declaration: https://convertingcolors.com/color-bucket/view/FA8072.html */

body {
    background: hsl(6, 93%, 71%);
    text-align: center;
    /* background-color: #7E98B5; */
    color: #310702; 
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #630d03;
    /* font-size: 2em; */
    font-family: 'Ubuntu', sans-serif;
    /* border-bottom: 5px solid #1F2A37; */
}

nav, aside ul {
    background-color: #D3B299;
    border: 5px solid #1F2A37;
    list-style-type: none;
    overflow: hidden;
    font-size: 1.3em;
    width: 90%;
    margin: auto;
}

nav ul {
    width: 90%;
    float: left;
}

ul {
    width: 70%;
    display: flex;
}

li {
    float: left;
    display: block;
    padding: 9px;
    text-decoration: none;
    margin: auto;
}

form {
    /* float: right; */
    margin: 0.6%;
    display: flex;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 2em;
    font-size: 25px;
}

table {
    background-color: rgb(0, 140, 255);
}

a:link,
a:visited {
    color: #a211eb;
}

a:hover {
    text-decoration: none;
    color: rgb(7, 211, 48);
}

p {
    text-align: center;
}

footer p {
    text-align: center;
}
